

    .strokeText::before {


        content: 'Full of fur. full of love';
        position: absolute;
        -webkit-text-stroke: 10px #fff;
        z-index: 1;
    
    }
    


    .header-title::before {
        content: 'Full of fur. full of love';
        position: absolute;
        -webkit-text-stroke: 10px #fff;
        z-index: 1;
    }
    